.section
	.row
		.ten.columns.form_background
			.section
				.row
			.section
				.row
					.seven.columns.centered
						%h3 Invite your students to join the course
			%hr
			= form_for(@invite_student, :url => course_invite_students_path(@course), :html => {:multipart => true}, :validate => true) do |f|
				.seven.columns.centered
					.section
						.row
							.three.columns
							.six.columns
								%strong=f.label :invite_by_email, "Email Addresses (separate multiple addresses by commas)"
								=f.text_field :email, :placeholder => "Email Addresses (separate multiple addresses by commas)", :class => "custom_textarea"
					.section
						.row
							.two.columns
							.five.columns
								=f.submit :class => "medium black button", :value => "Invite Students"
							.five.columns
								=link_to "Go back to Dashboard", dashboard_path, :class => "small white button"