.section
	.row
		.four.columns.centered
			%h5 
				%strong INVITATIONS TO ENROLL
	.row.invite_to_enroll_header_band.round-border
		.two.columns
			%strong Course Number
		.three.columns
			%strong Name
		.two.columns
			%strong Term
		.three.columns
			%strong Invited By
		.two.columns
			%strong Take Action