.content
	.section
		.row
			.four.columns.centered
				%h5 
					%strong ACTIVE COURSES AS TEACHER
		.row.teacher_header_band.round-border
			.two.columns
				%strong Course Number
			.three.columns
				%strong Name
			.one.columns
				%strong Term
			.two.columns
				%strong Invitation - Students
			.two.columns
				%strong Invitation - Teachers
			.two.columns
				%strong Course Stream