.section
	.row
		.twelve.columns
			="Hi #{@user.firstname}, welcome back on Homeroom"
.section
	.row
.section
	.row
.section
	.row
.section
	.row
.section
	.row
.section
	.row
		.four.columns
		.eight.columns
			=link_to "CREATE A NEW COURSE", new_course_path, :class => "large blue button"
			= link_to "Enroll", join_as_student_path(:id => 1)