.content
	.section
		.row
	.section
		.row
	.section
		.row
	.section
		.row
	.section
		.row
	.section
		.row
			.four.columns
			.seven.columns
				This is #{@user.firstname} #{@user.lastname}'s profile page