.content
	.section
		.row
	.section
		.row
	.section
		.row
	.section
		.row
	.section
		.row
	.section
		.row
	.section
		.row
	.section
		.row
			.four.columns
			.five.columns
				%h4 Forgot your password?
				%hr
				=form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
					=f.text_field :email, :placeholder => "Email", :class => "custom_textarea", :size => "10"
					=f.submit :class => "small black button", :value => "Send me the instructions"
				= render :partial => "devise/shared/links"
			.three.columns

