.container
	.row
		.twelve.columns
			%h4 Forgot your password?
			=semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
				=f.inputs do
					=f.input :email, :label => "Email"
				=f.buttons do
					=f.commit_button :button_html => {:class => "small radius nice green button"}, :label => "Send me reset password instructions"

