.currentSection.home-section#home-section
	%h2 
		%strong= "Homeroom is build for teachers and students."
		It empowers a generation of ambitious digital natives who expect and deserve high quality study tools.