.leftMenu
	%ul
		%li(class = "current" id = "home")
			Home
		%li(id = "kind_words")
			Kind Words
		%li(id = "gallery")
			Gallery
		%li(id = "team")
			Team
		%li(id = "jobs")
			Jobs
		%li(id = "press_kit")
			Press Kit
