.two.columns
	%strong="COURSES"
.eight.columns.header-items
	%ul
		%li
			%strong=link_to "FEED", course_path(@course)
		%li
			%strong="CALENDER"
		%li
			%strong="MATERIALS"
		%li
			%strong="BOOK"
		%li
			%strong="SYLLABUS"
		%li
			%strong="PEOPLE"
		%li
			%strong="GRADES"
.two.columns
	%strong="SORT"