.content
	.section
		.row
	.section
		.row
			.nine.columns.course-heading
				%h5
					%strong="#{@course.number} - #{@course.name} - "
					%em="#{@course.teachers.first.firstname.capitalize} #{@course.teachers.first.lastname.capitalize}"
			.one.columns
	.section
		.row
	.section
		.row
			.eight.columns.course-header-items.course-header
				%ul
					%li
						%strong=link_to "FEED", course_path(@course)
					%li
						%strong="CALENDER"
					%li
						%strong="MATERIALS"
					%li
						%strong="BOOK"
					%li
						%strong="SYLLABUS"
					%li
						%strong="PEOPLE"
					%li
						%strong="GRADES"
				%hr
			.two.columns.course-header
				%strong SORT
				%hr	
			.two.columns.course-header.course-right-pane
				%strong OTHER COURSES
				%hr