//= link_to "Enroll", join_as_student_course_path(:id => @course.id)
//= link_to "Enroll", join_as_student_path(:course_id => 4)


//= link_to "Enroll as teacher", join_as_teacher_course_path(@course)