.section
	.note
		.row
			.two.columns
				=link_to (image_tag "no-image.jpg"), user_path(post.user)
			.post-custom-margin.custom-word-wrap
				.ten.columns
					.eleven.columns
						-@course.teachers.each do |teacher|
							-if post.user_id == teacher.id
								%strong=link_to post.user.firstname + " " + post.user.lastname, user_path(post.user)
								=image_tag "teacher-indicator.png", :class => "teacher-indicator"
							-else
								%strong=link_to post.user.firstname + " " + post.user.lastname, user_path(post.user)
					.one.columns
						-if current_user.id == post.user.id || current_user.id == @course.teachers.first.id
							%strong=link_to "X",[@course,post], :remote => true, :method => :delete, :class => "delete-note"	
					.row
						.twelve.columns
							=post.description
					=render :partial => "courses/post_comments", :locals => {:post => post}
		%hr											