.section
	.row
		=render "course_header"

.section
	.row
		.eight.columns
			-if @context == "teacher" || @context == "student"
				.share-items
					.row
						.share-items-list
							.one.columns
								%strong
									POST:
							.one.columns.active.note
								=link_to "NOTE", new_course_note_path(@course), :remote => true
							.one.columns.link
								=link_to "LINK", new_course_link_path(@course), :remote => true
							.one.columns.media
								=link_to "MEDIA", new_course_video_path(@course), :remote => true
							.one.columns.file
								=link_to "FILE", new_course_attachment_path(@course), :remote => true
							.one.columns.question
								=link_to "QUESTION", "#"
							.one.columns
					#new-post
						=render "attachments/new_attachment"

			-else
				=render "enroll_button_partial"
			.stream-data
				.posts
					-@posts.each do |post|
						=render :partial => "show_post", :locals => {:post => post}
			.load_more
				=will_paginate(@posts, :page_links=>false,:previous_label=> " ",:next_label=>"LOAD MORE")
		.two.columns
			%ul
				%li(class="list-courses")
					%strong ALL POSTS
		.two.columns.course-right-pane
			%ul
				%li(class="list-courses") 
					%strong ALL COURSES
				-current_user.courses.each do |course|
					%li=link_to course.number, course_path(course)
				%hr
				%li
					=link_to "+ NEW COURSE", new_course_path, :class => "small blue button"  
.section
	.row
.section
	.row

