.section
	.row
		=render "course_header"

.section
	.row
		.eight.columns.share-items
			%ul
				%li
					POST:
				%li(class="current note")
					=link_to "NOTE", "#"
				%li
					=link_to "LINK", "#"
				%li
					=link_to "MEDIA", "#"
				%li
					=link_to "FILE", "#"
				%li
					=link_to "QUESTION", "#"
				%li
					=link_to "BLOG", "#"
			.note-form
				=render :template => "notes/new"
		.two.columns
			%ul
				%li(class="list-courses")
					%strong ALL POSTS
		.two.columns.course-right-pane
			%ul
				%li(class="list-courses") 
					%strong ALL COURSES
				-current_user.courses.each do |course|
					%li=link_to course.number, course_path(course)
				%hr

.section
	.row
		.eight.columns.stream-data
			-@course.notes.each do |note|
				.section
					.row
						.two.columns
							=image_tag "no-image.jpg"
						.two.columns.username-color
							%strong=note.user.firstname + " " + note.user.lastname
						.seven.columns
							%strong
								%em=note.note
						.one.columns.note-comment-link
							=link_to "Comment", "#"
					.section
						.row
							.one.columns
							.eleven.columns.comments
								-if note.comments.exists?
									-note.comments.each do |comment|
										%ul
											%li
												=image_tag "no-image.jpg"
											%li(class="username-color")
												%strong=comment.user.firstname
											%li
												%strong
													%em=comment.comment
							%hr
								.content
									.note-comment-form
										=form_for [@course,note,@note_comment] do |f|
											=f.hidden_field :note_id, :value => note.id
											=f.text_area :comment, :placeholder => "Comment", :rows=> "5",:id => "styled-no-width"
											=f.submit :class => "small black button",:value => "comment"
		.two.columns