.section
	.row
.section
	.row
.section
	.row
.section
	.row
.section
	.row
.section
	.row
		.four.columns
		.seven.columns
			I am a #{@context.capitalize} of this course
.section
	.row
.section
	.row
		.four.columns
		.seven.columns
			%h5 THIS IS COURSE STREAM (TASK 2)