.section
	.row
		=render "course_header"

.section
	.row
		.eight.columns.share-items
			%ul
				%li
					POST:
				%li(class="active note")
					=link_to "NOTE", "#"
				%li
					=link_to "LINK", "#"
				%li
					=link_to "MEDIA", "#"
				%li
					=link_to "FILE", "#"
				%li
					=link_to "QUESTION", "#"
				%li
					=link_to "BLOG", "#"
			.note-form
				=render :template => "notes/new"
		.two.columns
			%ul
				%li(class="list-courses")
					%strong ALL POSTS
		.two.columns.course-right-pane
			%ul
				%li(class="list-courses") 
					%strong ALL COURSES
				-current_user.courses.each do |course|
					%li=link_to course.number, course_path(course)
				%hr
				%li
					=link_to "+ NEW COURSE", new_course_path, :class => "small blue button"  

.section
	.row
		.eight.columns.stream-data
			.posts
				-@posts.each do |post|
					-if post.type == "Note"
						=render :partial => "show_note", :locals => {:post => post}
		.four.columns
.section
	.row
		.eight.columns
			.load_more
				=will_paginate(@posts, :page_links=>false,:previous_label=> " ",:next_label=>"LOAD MORE")
.section
	.row
.section
	.row

