.section
	.row
		=render "course_header"

.section
	.row
		.eight.columns.share-items
			%ul
				%li
					POST:
				%li(class="active note")
					=link_to "NOTE", "#"
				%li
					=link_to "LINK", "#"
				%li
					=link_to "MEDIA", "#"
				%li
					=link_to "FILE", "#"
				%li
					=link_to "QUESTION", "#"
				%li
					=link_to "BLOG", "#"
			.note-form
				=render :template => "notes/new"
		.two.columns
			%ul
				%li(class="list-courses")
					%strong ALL POSTS
		.two.columns.course-right-pane
			%ul
				%li(class="list-courses") 
					%strong ALL COURSES
				-current_user.courses.each do |course|
					%li=link_to course.number, course_path(course)
				%hr

.section
	.row
		.eight.columns.stream-data
			-@course.notes.each do |note|
				.section
					.row
						.two.columns
							=link_to (image_tag "no-image.jpg"), user_path(note.user)
						.post-custom-margin.custom-word-wrap
							.ten.columns
								.twelve.columns.username-color
									%strong=link_to note.user.firstname + " " + note.user.lastname, user_path(note.user)
								.row
									.twelve.columns
										=note.note
								
								.section
									.row.note-comment-link
										.three.columns.show-comments
											%span=link_to "+", "#"
											=link_to " Comments #{note.comments.count}", "#"	
										.two.columns
											=link_to "Like", "#" 
										.one.columns
								
									.row.custom-comment.custom-word-wrap
										.comment-top-margin
											.twelve.columns.post-custom-margin
												-if note.comments.exists?
													.comments
														-note.comments.each do |comment|
															.row.cycle-comments{:class => cycle("dark", "light") }
																.two.columns
																	=link_to (image_tag "no-image-small.jpg"), user_path(comment.user)
																.post-custom-margin
																	.ten.columns
																		%strong=link_to comment.user.firstname + " " + comment.user.lastname, user_path(comment.user)
																		=comment.comment
												
												
													.post-comment-form
														=form_for [@course,note,@note_comment] do |f|
															=f.hidden_field :note_id, :value => note.id
															=f.text_field :comment, :placeholder => "Write a Comment ...", :rows=> "5",:class=> "custom-textfield"
												-else
													.post-first-comment-form
														=form_for [@course,note,@note_comment] do |f|
															=f.hidden_field :note_id, :value => note.id
															=f.text_field :comment, :placeholder => "Write a Comment ...", :rows=> "5",:class=> "custom-textfield"	
				-reset_cycle
																
				%hr
		.four.columns

.section
	.row			