/*Providing arrow to the post items (notes, links etc ...)*/



/*Course header style*/

.course-header-items ul li{
  float: left;
  display: inline;
  padding-left: 30px;
}

.course-header-items li:first-child{
  padding-left: 0px;
}

.course-header strong{
  color: #1c1c1c;
}

.course-heading{

}

.share-items{
  background-color: #F2F2F2;
  border-top: 1px solid white;
}

.share-items a{
  color: black;
}

.share-items a:hover{
  color: #01A9DB;
}

.share-items ul li{
  float: left;
  display: inline;
  padding-left: 30px;
  padding-top: 10px;
}

.share-items li:first-child{
  padding-left: 10px;
}

.post-form{
  padding: 10px;
  padding-bottom: 0px;
}


.list-courses strong{
  color: #1c1c1c;
}

/*Giving a color to the username which is showed in a specific course page*/


.leftpanel-courselist a{
  color: black; 
}

.note-form{
  padding: 0 10px 10px 10px;
}

.active a{
  color: #01A9DB;
}

.note-comment-link{
}

/*Custom text area with default width and height*/

textarea#styled {
  width: 600px;
  height: 80px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-image: url(bg.gif);
  background-position: bottom right;
  background-repeat: no-repeat;
}

/*Custom text area without default width and height*/

textarea#styled-no-width {
  border: 1px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-image: url(bg.gif);
  background-position: bottom right;
  background-repeat: no-repeat;
}

/*Custom text field with defualt width and height*/

.custom-textfield{
  height: 28px;
  width: 505px;
  border: 1px solid #BDBDBD;
}

.url-textfield{
  height: 25px;
  width: 597px;
  border: 1px solid #BDBDBD;
  margin-bottom: 10px;
}

/*Custom text field without default width and height*/

.course-right-pane{
  text-align: right;
}

/*Giving border to the comments*/

.cycle-comments{
  border-bottom: 1px solid #F2F2F2;
  padding: 5px;
}

/*Cycle effects for odd and even comments*/

.light{
  background-color: #FAFAFA;
}

.dark{
  background-color: #F2F2F2;
}

/*Breaking the word (if the word is very long it shoots out of the expected width of its column)*/
.custom-word-wrap{
  word-wrap: break-word;
}

/*Displaying Comments*/

.custom-comment{
  font-size: 90%;
}

/*Top Margin to the comments*/

.comment-top-margin{
  margin-top: 20px;
}

/*Providing arrow to the comments border*/

.comments{
  
  padding-right: 10px;
}

.comments:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 14px;
  top: -28px;
  border: 15px solid;
  border-color: transparent transparent #F2F2F2 transparent;
}

/*Removing the default margin of the form(with comments) and giving it custom padding*/

.post-comment-form{
  padding: 10px 10px 10px 10px;
  background-color: #E2E2E2;
}

.post-comment-form form{
  margin-bottom: 0px;
}

/*Removing the custom margin of the form(without comments) and giving it custom padding*/

.post-first-comment-form{
  padding: 10px 10px 10px 10px;
  background-color: #E2E2E2;
}

.post-first-comment-form form{
  margin-bottom: 0px;
}

.like-form form{
  margin-bottom: 0px;
}

/*Providing arrow to the comments form border*/

.post-first-comment-form:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 14px;
  top: -28px;
  border: 15px solid;
  border-color: transparent transparent #E2E2E2 transparent;
}

.teacher-post{
  background-color: #E0EEF2;
}

.show-comments{
  font-weight: bold;
}

.load_more a{
  display: block;
  border-radius: 5px;
  border: 1px solid #DDD;
  background-color: #E6E6E6;
  text-align: center;
  font-weight: bold;
  color: #585858;
  text-decoration: none;
  padding: 5px;
  font-weight: bold;
  font-size: 120%;
}

.teacher-indicator{
  padding-left: 5px;
}

.delete-comment-link{
  display: none;
}

.comment-time-in-same-line li{
  display: inline;
}

.comment-time-in-same-line li:last-child {
  padding-left: 5px;
  padding-right: 3px;
  float:right;
  font-size: 90%;
}

.post-time-aligned-right{
  text-align: right;
}

.share-stuff-description {
  font-size: 90%;
}
