
html, body {    
   height: 100%; 
}

.section{
  margin-top: 15px;
}

.header{
  background-color: #01A9DB;
}

.footer{
  background-color: black;
  padding-top: 10px;
}

.login{
  padding: 5px;
}

.login a{
  color: black;
}

.logout{
  padding: 5px;
}

.logout a{
  color: black;
}

.foot{
  
 
  padding: 1px;
  color: #E6E6E6;
}


.links-footer a{
  color: #E6E6E6;
}

/*Searchbox */

.join{
  height: 25px;
  width: 8em;
}

.column, .columns { margin-left: .4%; float: left; min-height: 1px; position: relative; }

#all_content {
   min-height: 100%;
   margin-bottom: -120px;
   position: relative;
}

#custom_footer {
   height: 120px;
   position: relative;
   padding-top:30px;
}

.clearfooter {
   height: 120px;
   clear: both;
}

div.login_popup {
    position: relative;
    height: 20px;
}

div.login_popup .login_popup_content{
    position: absolute;
    margin-top: 20px;
    top:30px;
    right:0;
    width: 250px;
    height: 270px;
    padding: 10px;
    visibility: hidden;
    border: 1px solid #E6E6E6;
    background-color: white;
    z-index: 99;
}

div.logout_popup {
    position: relative;
    height: 20px;
    color: black;
}

div.logout_popup .logout_popup_content{
    position: absolute;
    margin-top: 0px;
    right:155px;
    width: 60px;
    height: 20px;
    visibility: hidden;
    background-color: #01A9DB;
    z-index: 99;
}

.custom_textarea {
    width: 180px;
    background: none repeat scroll 0 0 white;
    border: 1px solid #848484;
    color: #7B776F;
    margin: 0 0 10px;
    padding: 5px;
}

.custom_textarea_no_width {
    background: none repeat scroll 0 0 white;
    border: 1px solid #848484;
    color: #7B776F;
    margin: 0 0 10px;
    padding: 5px;
}

.styled-select select {
   width: 100px;
   padding: 5px;
   font-size: 12px;
   border: 1px solid #ccc;
   height: 25px;
}

.form_background {
  background-color: #F2F2F2;
}

/*Shadow Effect*/

.shadow{
   -moz-box-shadow:inset 0 0 5px #E9E9E9;
   -webkit-box-shadow:inset 0 0 5px #E9E9E9;
   box-shadow:inset 0 0 5px #E9E9E9;
}

.give_right_border {
  border-right: 1px solid black;
}

/*Round Corners*/

.round{
  
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
   border-radius: 10px;
}

/*Making only the top right and top left corner round*/
.round-border{
  
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
   border-radius: 5px 5px 0 0;
}

.invite_to_teach_header_band {
  padding:5px;
  background-color:#21610B;
  color:white;
  font-size:110%;
}

.give_invited_to_teach_border {
  border-top:0px;
  border-right: 1px solid #21610B;
  border-bottom: 1px solid #21610B;
  border-left: 1px solid #21610B;
  padding :10px 4px 10px 4px;
  margin-top:-1px;
}

.invite_to_enroll_header_band {
  padding:5px;
  background-color:#00BFFF;
  color:black;
  font-size:110%;
}

.give_invited_to_enroll_border {
  border-top:0px;
  border-right: 1px solid #00BFFF;
  border-bottom: 1px solid #00BFFF;
  border-left: 1px solid #00BFFF;
  padding :10px 4px 10px 4px;
  margin-top:-1px;
}

.teacher_header_band {
  padding:5px;
  background-color:#F2F2F2;
  color:black;
  font-size:110%;
}

.give_teacher_border {
  border-top:0px;
  border-right: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  border-left: 1px solid #F2F2F2;
  padding :10px 4px 10px 4px;
  margin-top:-1px;
}

.student_header_band {
  padding:5px;
  background-color:#CEECF5;
  color:black;
  font-size:110%;
}

.give_student_border {
  border-top:0px;
  border-right: 1px solid #CEECF5;
  border-bottom: 1px solid #CEECF5;
  border-left: 1px solid #CEECF5;
  padding :10px 4px 10px 4px;
  margin-top:-1px;
}
