
html, body {    
   height: 100%; 
}

.section{
  margin-top: 15px;
}

.header{
  background-color: black;
  height: 53px;
  width: 100%;
  position: fixed;
  z-index: 6;
  top: 0px;
}

.welcome_screen{
  background-color: white;
  top: 70px;
  height: 380px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

#all_content{
  min-height: 93%;
}

.login{
  padding: 5px;
}

.login a{
  color: white;
}

.logout{
  padding: 5px;
}

.logout a{
  color: white;
}

.foot{
  padding: 1px;
  color: #E6E6E6;
}

.footer{
  background-color: black;
  position: relative;
}

/*Searchbox */

.join{
  height: 25px;
  width: 8em;
}

.column, .columns { margin-left: .4%; float: left; min-height: 1px; position: relative; }


div.login_popup {
    position: relative;
    height: 20px;
}

div.login_popup .login_popup_content{
    position: absolute;
    margin-top: 20px;
    top:30px;
    right:0;
    width: 250px;
    height: 270px;
    padding: 10px;
    visibility: hidden;
    border: 1px solid #E6E6E6;
    background-color: white;
    z-index: 99;
}

div.logout_popup {
    position: relative;
    height: 20px;
    color: black;
}

div.logout_popup .logout_popup_content{
    position: absolute;
    margin-top: 0px;
    right:155px;
    width: 60px;
    height: 20px;
    visibility: hidden;
    background-color: #01A9DB;
    z-index: 99;
}

.custom_textarea {
    width: 180px;
    background: none repeat scroll 0 0 white;
    border: 1px solid #848484;
    color: #7B776F;
    margin: 0 0 10px;
    padding: 5px;
}

.custom_textarea_no_width {
    background: none repeat scroll 0 0 white;
    border: 1px solid #848484;
    color: #7B776F;
    margin: 0 0 10px;
    padding: 5px;
}

.styled-select select {
   width: 100px;
   padding: 5px;
   font-size: 12px;
   border: 1px solid #ccc;
   height: 25px;
}

.form_background {
  background-color: #F2F2F2;
}

/*Shadow Effect*/

.shadow{
   -moz-box-shadow:inset 0 0 5px #E9E9E9;
   -webkit-box-shadow:inset 0 0 5px #E9E9E9;
   box-shadow:inset 0 0 5px #E9E9E9;
}

.give_right_border {
  border-right: 1px solid black;
}

/*Round Corners*/

.round{
  
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
   border-radius: 10px;
}

/*Making only the top right and top left corner round*/
.round-border{
  
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
   border-radius: 5px 5px 0 0;
}

.invite_to_teach_header_band {
  padding:5px;
  background-color:#21610B;
  color:white;
  font-size:110%;
}

.give_invited_to_teach_border {
  border-top:0px;
  border-right: 1px solid #21610B;
  border-bottom: 1px solid #21610B;
  border-left: 1px solid #21610B;
  padding :10px 4px 10px 4px;
  margin-top:-1px;
}

.invite_to_enroll_header_band {
  padding:5px;
  background-color:#00BFFF;
  color:black;
  font-size:110%;
}

.give_invited_to_enroll_border {
  border-top:0px;
  border-right: 1px solid #00BFFF;
  border-bottom: 1px solid #00BFFF;
  border-left: 1px solid #00BFFF;
  padding :10px 4px 10px 4px;
  margin-top:-1px;
}

.teacher_header_band {
  padding:5px;
  background-color:#F2F2F2;
  color:black;
  font-size:110%;
}

.give_teacher_border {
  border-top:0px;
  border-right: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  border-left: 1px solid #F2F2F2;
  padding :10px 4px 10px 4px;
  margin-top:-1px;
}

.student_header_band {
  padding:5px;
  background-color:#CEECF5;
  color:black;
  font-size:110%;
}

.give_student_border {
  border-top:0px;
  border-right: 1px solid #CEECF5;
  border-bottom: 1px solid #CEECF5;
  border-left: 1px solid #CEECF5;
  padding :10px 4px 10px 4px;
  margin-top:-1px;
}

.other-page-elements a{
  color: #D8D8D8;
}

#page1,#page2,#page3,#page4,#page5,#page6{
  height: 800px;
  padding-left: 150px;
  padding-right: 200px;
}

#page1 h2,#page2 h2,#page3 h2,#page4 h2,#page5 h2, #page6 h2{
  color: #E6E6E6;
}


.leftMenu{
  position: absolute;
  color: #7d7d7d;
  height: 300px;
  width: 155px;
  left: 5px;
  top: 35px;
  z-index: 5;
}

.leftMenu li{
  border-left: 1px solid #323232;
  margin-bottom: 1px;
  padding: 0 10px 30px;
  cursor: pointer;
}

.leftMenu .current{
  color: white;
  border-left: 1px solid white;
}

.rightMenu {
  color: #7D7D7D;
  height: 300px;
  right: 5px;
  position: absolute;
  top: 35px;
  width: 155px;
  z-index: 5;
}

.share_bar {
  height: 30px;
  margin-top: 5px;
  position: relative;
}

.rightMenuOff {
  color: #7D7D7D;
  font-size: 12px;
  height: 28px;
  line-height: 16px;
  padding-right: 42px;
  padding-top: 2px;
  text-align: right;
  display: block;
  font-size: 110%;
  font-family: "Sans-serif",Georgia,Serif;
}


.rightMenuOn {
  right: 40px;
  position: absolute;
  top: 0;
  display: none;
}

.nav-active{
  border-left: 2px solid blue;
}

#wrapper_wide{
  background-color: black;
  z-index: 5;
  position: relative;
}

#wrapper{
  margin-top: 420px;
  padding: 30px 0 30px;
  position: relative;
  z-index: 2;
}

.anchor{
  padding-bottom: 80px;
}

.rightMenuOff img{
  height: 20px;
}

.rightMenuOn .twitter_share a{
  display: block;
  width: 25px;
  height: 20px;
  overflow:hidden;
}

.rightMenuOn .twitter_share a:hover img{
  margin-top: -22px;
}

.rightMenuOn .facebook_share a{
  display: block;
  width: 13px;
  height: 20px;
  overflow:hidden;
}

.rightMenuOn .facebook_share a:hover img{
  margin-top: -22px;
}

.rightMenuOn ul li{
  float: right;
  display: inline;
}