.footer	
	.row
		.two.columns
		.ten.columns.links-footer
			%ul(class="block-grid")
				%li=link_to "Home |", "#", :class => "nice foot"
				%li=link_to "About |", "#", :class => "nice foot"
				%li=link_to "Blog |", "#", :class => "nice foot"
				%li=link_to "Privacy Policy |","#", :class => "nice foot"
				%li=link_to "Terms & Conditions |", "#", :class => "nice foot"
				%li(class ="nice foot") &copy;2012 homeroom.com All Rights Reserved