.header
	.row
		.three.columns.container
			=link_to logo, root_url
		.seven.columns
		.one.columns.container
			=link_to "Join", "#", :class => "small black button"
		
		-if current_user.blank?
			.one.columns.container.login.popup
				=link_to "LOGIN", "#"
				.popup_content.shadow
					=render :partial => "devise/sessions/new"
		