.second-header
	.row
		.twelve.columns
			.two.columns
				%strong
					=link_to "Dashboard", dashboard_path
			.two.columns
				%strong
					=link_to "Mail", "#"
			.two.columns
				%strong
					=link_to "Grades", "#"
			.two.columns
				%strong
					=link_to "Notification", "#"
			.two.columns
				%strong
					=link_to "Application", "#"
			.two.columns
				%strong
					=link_to "Chat", "#"